@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 2s ease;
}


@keyframes fadeInY {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInY {
  animation: fadeInY 1.25s linear both;
}