@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.wrap {
  display: flex;
  overflow: hidden;
}

.list {
  display: flex;
  list-style: none;
}

.listLeft{
animation: infinity-scroll-left 95s infinite linear 0.5s both;
}

.wrap:hover .listLeft {
  animation-play-state: paused;
}

.item {
  width: calc(100vw / 3);
  margin: 5px;
}